<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sodales semper purus. Aliquam quis gravida tortor. Nullam in nisl ac mi consectetur faucibus auctor ac ligula. Quisque convallis ornare lobortis. Integer mollis est ac sapien volutpat, egestas pretium erat efficitur. Integer hendrerit velit ut mauris vulputate suscipit. Vivamus orci elit, fringilla eget auctor nec, commodo eu libero. Donec et porttitor mi. Duis nibh erat, tempor nec lectus ac, fringilla cursus mauris.
            </p>
        </section>
        <address>
            <h2 class="footer-title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> lucasgtambasco@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (11) 96667-2560</li>
                <li><i class="fa-brands fa-whatsapp"></i> (11) 96667-2560</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
